body {
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  
  background: -webkit-linear-gradient(90deg, rgb(22, 135, 237), rgb(245, 186, 186));
  background: linear-gradient(90deg, rgb(22, 135, 237), rgb(245, 186, 186));
  background-image: url("wallpaper.jpg");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
  font-family: 'Livvic', sans-serif;
}

p, ul, li {
  
  line-height: 1.2;
  font-size: 20px;
  color: DarkRed;
}
h1, h2 {
  font-family: 'Merriweather', serif;
}
a {
  font-weight: bold;
}

a:hover {
  color:black;
  background-color: aqua;
}
a:visited {
  color: brown;
  background-color: aqua;
}
blockquote {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  font-style: italic;
  padding-left: 30px;
  background-color: rgb(238, 227, 227);
  margin-top:80px;
  margin-bottom:80px;
}
blockquote p {
  font-size:160%;
}

.villageois {
  border-left: 3px solid DarkRed;
}

.fermier {
  border-left: 3px solid rgb(18, 26, 95);
}

header p {
  background-color:yellow;
}

.bien, .mal {
  text-transform: uppercase;
}
.bien {
  color: red;
}
.mal {
  color: green;
}
tr:nth-child(even) {
  background-color: white;
}
tr:nth-child(odd) {
  background-color: grey;
}
li:nth-child(1) {
  background-image: url('bien.png');
  background-position: right;
  padding-right: 300px;
  background-repeat: no-repeat;
  background-size: contain;
}
li:nth-child(2) {
  background-image: url('mal.png');
  background-position: right;
  padding-right: 300px;
  background-repeat: no-repeat;
  background-size: contain;
}
li:nth-child(3) {
  background-image: url('chat.png');
  background-position: right;
  padding-right: 300px;
  background-repeat: no-repeat;
  background-size: contain;
}

p:first-of-type {
  font-weight: bold;
}
img {
  float:right;
  margin: 15px;
}
p::after {
  content: "";
  clear: both;
  display: table;
}